* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100%;
  
    background: #fff;
}

main .navbarD {
    left: 0;
    width: 270px;
    height: 100dvh;
    position: fixed;
    background:#F2EAE1;
    padding: 18px 25px 31px 25px;
}

main .navbarD h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    position: relative;
    letter-spacing: 0em;
    font-family: Montserrat;
}

main .navbarD h1::before {
    width: 6px;
    content: '';
    height: 100%;
    margin-left: -20px;
    position: absolute;
    background: #F8D442;
}

main .navbarD .user h5 {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    font-family: Montserrat;
}

main .navbarD .user p {
    font-size: 14px;
    font-weight: 400;
    color: #FEAF00;
    line-height: 17px;
    letter-spacing: 0em;
    font-family: Montserrat;
}

main .navbarD .list-group-item:hover {
    border-radius: 4px !important;
    background: #FEAF00 !important;
}

main .dashboard {
    left: 270px;
    padding: 30px;
    position: absolute;
    width: calc(100% - 270px);
}

/* .nawbar{
    background-color: #F2EAE1;
    width: 25%;
    height: 100vh;
}
.item{
    
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    
    .maindiv{
        display: flex;
    }
    .leftLine {
        position: relative;
    }
    
    .leftLine::before {
        width: 6px;
        content: '';
        height: 100%;
        position: absolute;
        margin-left: -20px;
        background: #F8D442;
    }
    .shakl{
        margin: 3px 10px 3px 10px;
        padding: 5px;
        width: 5px;
        height: 50px;
        background-color: coral;
        text-align: center;
        justify-content: center;
    }
    margin-left: 170px;
    
}
.item:hover{
background-color: #FEAF00;
}
.card{
    margin-bottom: 70px;
}
.icons1{
    display: flex;
}
.icons1 img{
    width: 24px;
    height: 24px;
    padding: 10px;
    margin:20px;
}
.icons1 div{
    margin-right:300px;

}
.info{
    display: flex;
}
.itemInfo{
    padding: 30px;
    margin: 30px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
} */